*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fab003;
}

.img-container{
    width: 60%;
    min-height: 80vh;
    background: url('images/1.jpg') center/cover fixed no-repeat;
    border: 0.5rem solid #fefdea;
    border-radius: 0.5rem;
    position: relative;
    margin: 4rem auto;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.6);
}

.btn-left{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgb(247, 244, 239);
    color: #0f0f0f;
    transform: translate(-50%, -50%);
    border: 0.4rem solid #1c1c1c;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
}

.btn-right{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgb(247, 244, 239);
    color: #0f0f0f;
    transform: translate(50%, -50%);
    border: 0.4rem solid #1c1c1c;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
}